<div class="container">

    <div class="col-md-14">
   
        <h1 class="mt-3" *ngIf="isLoggedIn && user">Bienvenido Administrador {{ user.username }}</h1>

      <hr>
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-8">
            <h4 style="text-transform: capitalize">
              bienvenida al Panel de Administración, estimado Sr. {{ user.nombre }} {{ user.apellido }}. Su presencia en
              este exclusivo panel administrativo es de suma importancia, ya que desempeñará un papel fundamental en la
              gestión y administración eficiente de diversas áreas vitales de nuestro negocio.

              Como administrador, tendrá la valiosa responsabilidad de supervisar y optimizar las ventas, productos,
              proveedores, marcas y todos los aspectos relevantes que impulsan nuestro crecimiento y éxito. Su
              dedicación y compromiso son altamente valorados, ya que su experiencia y habilidades serán clave para
              garantizar una operación fluida y profesional.

           
            </h4>
          </div>
          <div class="col-sm-4">
            <img src="assets/logo-admin.png" alt="" class="img-admin img-fluid">
          </div>
        </div>
        <br><br>
        <h2>Funciones del Administrador</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li>Gestionar los Productos</li>
              <li>Gestionar las Categorías</li>
              <li>Gestionar las Marcas</li>
              <li>Gestionar las Promociones</li>
              <li>Gestionar los Usuarios</li>
              <li>Gestionar los Proveedores</li>
              <li>Gestionar las Ventas</li>
              <li>Gestionar los Reclamos</li>
              <li>Configurar los Cambios de la Página Web</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <img src="assets/ropa-admin.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br><br><br>
