<div class="container">
    <mat-card-header>
      <mat-card-title>
          <br>
          <h1>Panel de Gestion de Reclamos</h1>
      </mat-card-title>
  </mat-card-header>
    <mat-tab-group [(selectedIndex)]="activeTab">
      <mat-tab label="Recibidos">
        <div *ngIf="activeTab === 0">
          <app-listar-reclamos-activados></app-listar-reclamos-activados>
        </div>
      </mat-tab>
      <mat-tab label="Enviados">
        <div *ngIf="activeTab === 1">
          <app-listar-reclamos-desactivados></app-listar-reclamos-desactivados>
        </div>
      </mat-tab>
    </mat-tab-group>
 </div>