<h1 style="text-align: center;">Listado de Usuarios</h1>
<button class="btn btn-primary"[routerLink]="'/admin/usuario/registrar-admin'"> Registrar Administrador</button>
<br>
<br>
<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre Completo</th>
        <th>Usuario</th>
        <th>Telefono</th>
        <th>Rol</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuarioRol of usuarioRoles">
        <td>{{ usuarioRol.usuarioRolId }}</td>
        <td>{{ usuarioRol.usuario.nombre +" "+usuarioRol.usuario.apellido}}</td>
       
        <td>{{usuarioRol.usuario.username}}</td>
      <td>{{usuarioRol.usuario.telefono}}</td>
        <td>{{ usuarioRol.rol.rolNombre }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Paginador -->
<mat-paginator [length]="usuarioRoles.length" [pageSize]="pageSize" [pageIndex]="pageIndex" class="letra"
(page)="onPageChange($event)" #paginator></mat-paginator>
