<br>
<h1>Lista de Activadas</h1>
<hr>

<table class="table table-dark table-hover">
    <thead class="text-center">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Asunto</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let reclamo of reclamos">
            <td>{{ reclamo.reclamoId }}</td>
            <td>{{ reclamo.nombre }}</td>
            <td>{{reclamo.email}}</td>
            <td>{{reclamo.asunto}}</td>
            <td>{{ reclamo.estado ? "Recido" : "Enviado" }}</td>
            <td>
                <button [routerLink]="'/admin/reclamos/' + reclamo.reclamoId" class="btn btn-success">Responder</button>
            </td>
        </tr>
    </tbody>
</table>