.w100{
    width: 100%;
  }
  .foto{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .foto {
      max-width: 100%; /* Establece un ancho máximo del 100% en pantallas pequeñas */
      height: auto; /* Permite que la altura se ajuste automáticamente */
    }
  }