<br>
<h1>Lista de Activadas</h1>
<hr>
<div class="button-container">
    <button class="btn btn-primary" [routerLink]="'/admin/proveedor/crear-proveedor'">Agregar Proveedor</button>
  </div>
<div class="search-container">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="nombre" placeholder="Buscar Nombre" (input)="buscarPorNombre()">
    </mat-form-field>
</div>
<table class="table table-dark table-hover">
    <thead class="text-center">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Ruc</th>
            <th>Correo</th>
            <th>Direccion</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let proveedor of proveedores">
            <td>{{ proveedor.proveedorId }}</td>
            <td>{{ proveedor.nombre }}</td>
            <td>{{proveedor.telefono}}</td>
            <td>{{proveedor.ruc}}</td>
            <td>{{proveedor.email}}</td>
            <td>{{proveedor.direccion}}</td>
            <td>{{ proveedor.estado ? "Activo" : "Desactivado" }}</td>
            <td>
                <button [routerLink]="'/admin/proveedor/' + proveedor.proveedorId" class="btn btn-success">Actualizar</button>

                &nbsp;
                <button (click)="desactivarProveedor(proveedor.proveedorId)" class="btn btn-danger">Desactivar</button>
            </td>
        </tr>
    </tbody>
</table>