<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Section: Social media -->
    
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <br>
            <br>
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">Empresa</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        Futplus Sports es una tienda especializada en fútbol que se distingue del resto por su amplia
                        gama de productos. Su catálogo de artículos de fútbol es inigualable y la convierte en la mejor
                        opción para los amantes del deporte rey.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Informacion</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a [routerLink]="'/acerca-de-empresa'" class="text-white">Acerca de Empresa</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Marcas de FutPlus</a>
                    </p>
                    <p>
                        <a [routerLink]="'/sostenibilidad'" class="text-white">Sostenibilidad</a>
                    </p>
                    <p>
                        <a [routerLink]="'/contacto'" class="text-white">Contacto</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Servicio al cliente</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a [routerLink]="'/compramos-tu-camiseta'" class="text-white">Compramos tu Camiseta</a>
                    </p>
                    <p>
                        <a [routerLink]="'/nuestros-productos'" class="text-white">Nuestros Productos</a>
                    </p>
                    <p>
                        <a [routerLink]="'/nosotros'" class="text-white">Nosotros</a>
                    </p>
                    <p>
                        <a [routerLink]="'/politica-privacidad'" class="text-white">Política de Privacidad</a>
                    </p>
                    <p>
                        <a [routerLink]="''" class="text-white">Ayuda Atencion al Cliente</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><mat-icon>location_on</mat-icon>Jr Flores #754 , Lima , Peru </p>
                    <p><mat-icon>email</mat-icon> futplus@gmail.com</p>
                    <p><mat-icon>chat</mat-icon> + 51 908 189 125</p>
                    <p><mat-icon>smartphone</mat-icon> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)"> © 2020 Copyright:
        <a class="text-white">FutPlus Sports Fc</a>
    </div>
</footer>