body {
    background: #f5f5f5;
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

.login-box {
    background: url(https://i.imgur.com/73BxBuI.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 10px auto;
    min-height: 200%;

}

form {
    width: 70%;
    /* Ancho del formulario */
    margin: 0 auto;
    /* Centrar horizontalmente */
    text-align: center;
    /* Alinear elementos internos al centro */
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
    border-color: #032850;
    /* Color del borde */
}

.mat-form-field.input {
    border-color: blue;
    /* Cambia el color del borde cuando el campo está enfocado */
}

.header-title {
    font-size: 24px;
    /* Tamaño del texto */
    color: #000000;
    /* Color del texto */
    font-family: "monospace";
    text-align: center;
    /* Centrar el texto */
    margin-top: 20px;
    /* Espacio superior */
    margin-bottom: 20px;
    /* Espacio inferior */
    text-transform: uppercase;
    /* Convertir el texto a mayúsculas */
    font-weight: bold;
    /* Establecer negrita */
}

.logo {
    font-family: "Script MT";
    font-size: 54px;
    text-align: center;
    color: #00116e;
    margin-bottom: 50px;
}

.logo .logo-font {
    color: #b30000;
}

@media only screen and (max-width: 767px) {
    .logo {
        font-size: 34px;
    }
}

.header-title {
    text-align: center;
    margin-bottom: 50px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form .form-control {
    border-radius: 0;
    margin-bottom: 30px;
}

.login-form .form-group {
    position: relative;
}

.login-form .form-group .forgot-password {
    position: absolute;
    top: 6px;
    right: 15px;
}

.login-form .btn {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.login-form .btn.btn-primary {
    background: #00116e;
    border-color: #8a041b;
}

.slider-feature-card {
    background: #fff;
    max-width: 360px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.slider-feature-card img {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slider-feature-card h3,
.slider-feature-card p {
    margin-bottom: 50px;
}