<mat-card>

  <h2 class="text-center">Actualizar producto</h2>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (submit)="actualizarProducto()" enctype="multipart/form-data">
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="producto.nombre" required matInput>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Descripcion</mat-label>
          <textarea id="descripcion" name="descripcion" [(ngModel)]="producto.descripcion" required matInput></textarea>
        </mat-form-field>

        <mat-form-field class="w100" appearance="fill">
          <mat-label>Precio</mat-label>
          <input type="number" id="precio" name="precio" [(ngModel)]="producto.precio" required matInput>
        </mat-form-field>

        <div class="w100">
          <label for="imagen">Imagen:</label><br>
          <input type="file" id="imagen" name="imagen" (change)="onImagenSeleccionada($event)">
        </div>
        <br>
        <div class="container text-center">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>