<div class="container">
    <mat-card-header>
        <mat-card-title>
            <br>
            <h1>Panel de Gestion de Proveedor</h1>            
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-tab-group [(selectedIndex)]="activeTab">
        <mat-tab label="Activadas">
            <div *ngIf="activeTab === 0">
                <app-listar-activadas-proveedor></app-listar-activadas-proveedor>
            </div>
        </mat-tab>
        <mat-tab label="Desactivadas">
            <div *ngIf="activeTab === 1">
                <app-listar-desactivar-proveedor></app-listar-desactivar-proveedor>
            </div>
        </mat-tab>
    </mat-tab-group>    
   
</div>