<app-navbar></app-navbar>
<div class="container">
    <br>
    <h1 class="text-center titulo">Nosotros</h1>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h1 style="font-size: 35px;">Bienvenido a Retro Futbol</h1>
        <p>Somos la tienda virtual de camisetas y artículos deportivos más completa de Latinoamérica. Nacimos en el año 2018 con el objetivo de cumplir el sueño de los verdaderos fanáticos de tener la camiseta de sus amores y sentirse parte de su equipo preferido.</p>
        <p>Tenemos la colección más completa de camisetas de fútbol y nos enorgullece ofrecerla como lo hemos venido haciendo durante los últimos 3 años.</p>
        <p>Somos Retro Futbol, ¡sentimos la misma pasión!</p>
      </div>
      <div class=" col-md-6 ">
        <img class="img-nosotros img-fluid" src="assets/nosotros/nosotros-1.png" alt="2">
      </div>
    </div>
    <br>
    <br>
    <h1 class="text-center titulo">Nuestros Valores</h1>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-6">
            <img src="assets/nosotros/valores.jpg" alt="" class="valores img-fluid">
          </div>
          
        <div class="col-sm-12 col-md-6">
          <br>
          <b>PASION:</b>
          <p>Es la razón de nuestra existencia y la que compartimos con todos nuestros clientes.</p>
          <b>RESPONSABILIDAD:</b>
          <p>Nos enfocamos en mejorar y cumplir con todos los requerimientos de nuestros clientes y proveedores.</p>
          <b>CONFIANZA: </b>
          <p>Brindamos todo lo necesario para que nuestros clientes tengan la total seguridad de que recibirán su pedido y que su experiencia de compra será la mejor.</p>
          <b>HONESTIDAD: </b>
          <p>Somos honestos en cada contacto que tenemos con nuestros clientes y proveedores.</p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <mat-card>
          <mat-card-title>
            <mat-icon class="custom-icon-size">local_shipping</mat-icon>
            <br>
            <h2>ENVÍOS A TODO EL PERÚ</h2>
          </mat-card-title>
          <mat-card-subtitle>
            <p>Enviamos a todo el mundo, las fronteras no son barreras para Retro Futbol.</p>
          </mat-card-subtitle>
          <br>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-4">
        <mat-card>
          <mat-card-title>
            <mat-icon>monetization_on</mat-icon>
            <h2>PAGOS SEGUROS</h2>
          </mat-card-title>
          <mat-card-subtitle>
           
                <p>Puedes pagar con PayPal desde cualquier parte del mundo, o si te encuentras en Perú puedes pagar con otro método de pago seguro.</p>
            </mat-card-subtitle>
          </mat-card>
        </div>
        <div class="col-sm-12 col-md-4">
          <mat-card>
            <mat-card-title>
              <mat-icon>support</mat-icon>
              <h2>ATENCIÓN AL CLIENTE</h2>
            </mat-card-title>
            <mat-card-subtitle>
              <p>Realmente nos preocupamos por ti. En cuanto tu pedido sea despachado, te enviaremos tu código de seguimiento.</p>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>
    
<app-footer></app-footer>