.titulo{
    font-size: 30px;
    color: black;
}
.img-nosotros {
   
    width: 220px;
    height: 220px;
 
    margin-left: 130px;
  }
  .valores{
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
  }
  .custom-icon-size {
   width: 100%;
   height: auto;
  }