<div class="card">
  <div class="card-header ">
    <h2 style="font-family:monospace ;"> {{titulo}}</h2>
  </div>
  <div class="card-body">


    <p style="text-align: center;
      margin-bottom: 0;" [innerHTML]="getHTML()"></p>




    <mat-form-field style="font-family:monospace;"class="ancho-completo" *ngIf="razon != undefined && razon.trim() != ''">
      <div style="font-family:monospace;" >
        <input  #input [placeholder]="razon" />
      </div>
    </mat-form-field>
    <div class="dos">
      <button type="button" class=" btn btn-success" (click)="close('CONFIRMAR')"><i class="fas fa-check"></i></button>
      <button type="button" class=" btn btn-danger" (click)="close('CANCELAR')"><i class="fas fa-times"></i></button>
    </div>
  </div>
</div>











<!--div class="card">
    <div class="titulo">
        <h2 class="letra">Eliminación</h2>
    </div>
    <div class="contenido">
        <h4>¿Deseas eliminar dato?</h4>
        <div class="button-container">
            <button mat-button color="warn" class="si-button"(click)="confirmarEliminar(true)"><mat-icon>check</mat-icon></button>
            <button mat-button class="no-button" (click)="cerrarModal()"><mat-icon>clear</mat-icon></button>
        </div>
    </div>

</div-->