.holanda {
    width: 1349px;
    height: 500px;
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .holanda {
      max-width: 100%; /* Establece un ancho máximo del 100% en pantallas pequeñas */
      height: auto; /* Permite que la altura se ajuste automáticamente */
    }
  }
  