/* Estilos para el contenedor de la imagen */
.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Estilos para la imagen de fondo */
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .text-overlay {
    position: absolute;
    top: 25%; /* Ajusta este valor para cambiar la separación del borde superior */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    opacity: 0; /* Inicialmente invisible */
    animation: fade-in 2s ease forwards; /* Animación de aparición */
  }
  
  .text-overlay h1 {
    font-size: 3em; /* Tamaño del título */
    margin: 0;
    letter-spacing: 5px; /* Espaciado entre letras */
  }
  
  .text-overlay p {
    font-size: 1.8em; /* Tamaño del párrafo */
    margin: 0;
    letter-spacing: 3px; /* Espaciado entre letras */
  }
  
  /* Definición de la animación */
  @keyframes fade-in {
    from {
      opacity: 0; /* Comienza completamente transparente */
    }
    to {
      opacity: 1; /* Se desvanece a completamente visible */
    }
  }
  
  