<mat-card>
    <br>
    <h1 style="text-align: center;  font-family: Arial, sans-serif;">AGREGAR NUEVO PROVEEDOR</h1>

    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <form (submit)="crearProveedor()" enctype="multipart/form-data">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombre Proveedor</mat-label>
                            <input required autofocus type="text" name="nombre de proveedor" matInput
                                placeholder="Digite el nombre del proveedor" [(ngModel)]="nombre">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Email Proveedor</mat-label>
                            <input required autofocus type="email" name="email del proveedor" matInput
                                placeholder="Digite el email del proveedor" [(ngModel)]="Email">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Telefono Proveedor</mat-label>
                            <input required autofocus type="number" name="telefono de proveedor" matInput
                                placeholder="Digite el telefono de proveedor" [(ngModel)]="Telefono">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Direccion Proveedor</mat-label>
                            <input required autofocus type="text" name="direccion de proveedor" matInput
                                placeholder="Digite el direccion de proveedor" [(ngModel)]="Direccion">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Ruc Proveedor</mat-label>
                            <input required autofocus type="number" name="ruc de proveedor" matInput
                                placeholder="Digite el ruc de proveedor" [(ngModel)]="Ruc">
                        </mat-form-field>
                        <br>
                        <div class="container text-center mt15">
                            <button class="btn btn-primary">Guardar Categoria</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>