<div class="separator">
  <h1 style="font-family: monospace;">Configuración de Usuario</h1>

  <button _ngcontent-yfb-c88=""class="volver-btn"(click)="volver()"   class="btn btn-danger button_close" tabindex="0"><i _ngcontent-yfb-c88="" class="fas fa-long-arrow-alt-left"></i></button>
</div>


<div class="card-body" style="margin: 0 auto; margin-top: 40px; width: 95%">
  <table class="table table-striped ;overflow-y: auto; max-height: 200px;">
    <thead>
      <tr>

        <th>Código</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Rol</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pagedData">
        <td>{{ row.ul_codigo }}</td>
        <td>{{ row.ul_nombre+ " "+row.ul_apellido}}</td>
        <td>{{ row.ul_usuario }}</td>
        <td>{{row.ul_correo }}</td>
        <td>{{ row.ul_telefono }}</td>
        <td>{{ row.ul_direccion }}</td>
        <td>{{ row.ul_rol }}</td>
        <td>
          <button mat-icon-button class="btn-editar" (click)="editar(row)">
            <mat-icon >edit</mat-icon>
          </button>
          <button mat-icon-button class="btn-vista" (click)="visor(row)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button class="btn-eliminar" (click)="eliminar(row)">
            <mat-icon>delete</mat-icon>
          </button>


        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)">
  </mat-paginator>

</div>