<div class="separator">
  <h1>Configuración de usuario</h1>
  <button mat-icon-button  class="volver-btn" (click)="volver()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>


<div class="card-body" style="margin: 0 auto; margin-top: 40px; width: 95%">
  <table class="table table-striped">
    <thead>
      <tr>
  
        <th>Código</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of datosTabla">
        <td>{{ row.id }}</td>
        <td>{{ row.nombre+ " "+row.apellido}}</td>
        <td>{{row.email }}</td>
        <td>{{ row.telefono }}</td>
        <td>
          <button mat-icon-button class="btn-editar" (click)="editar(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="btn-vista" (click)="visor(row)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button class="btn-eliminar" (click)="eliminar(row)">
            <mat-icon>delete</mat-icon>
          </button>
          
          
        </td>
      </tr>
    </tbody>
  </table>
</div>