<app-navbar></app-navbar>
<br>
<div class="container">
    <br>
    <h1>¿QUÉ ES LA MODA SOSTENIBLE?</h1>
    <div class="col-md-10">
        <p class="paragraph">
            La moda sostenible, también conocida como moda ecológica o ética, es una respuesta necesaria ante la
            creciente preocupación por reducir el impacto ambiental en la producción de prendas de vestir. Consciente de
            esta necesidad, futplus-soprts ha tomado medidas significativas para incorporar la sostenibilidad en sus
            procesos de producción, con el objetivo de fabricar productos con materiales 100% reciclados y reducir su
            huella de carbono.
        </p>
        <p class="paragraph">
            Además de ofrecer una amplia gama de productos sostenibles y ropa ecológica, la marca ha implementado una
            serie de iniciativas innovadoras para reducir su impacto ambiental. Entre ellas, destaca la creación de
            nuevos tejidos de alto rendimiento como Primeblue, fabricado en colaboración con Parley Ocean Plastic®,
            utilizando plásticos recuperados del océano. Asimismo, la tecnología Primegreen combina diversos materiales
            reciclados para evitar el uso de poliéster virgen.
        </p>
        <p class="paragraph">
            FutPlus Sports también ha implementado un programa de reciclaje para sus propios productos, reutilizando
            piezas en nuevas colecciones y mejorando sus procesos industriales. Con estas acciones, la marca no solo
            contribuye a la sostenibilidad ambiental, sino que también demuestra su compromiso con la innovación y el
            estilo en su línea de moda sostenible.
        </p>
        <h2>MODA SOSTENIBLE: CONOCE LA ROPA ECOLÓGICA</h2>
        <p class="paragraph">
            FutPlus Sports ha dado un paso importante hacia la sostenibilidad en la industria de la moda con la creación
            de su línea de ropa ecológica. En esta colección, se pueden encontrar diversos productos confeccionados con
            materiales reciclados de alta calidad, desde camisetas deportivas hasta zapatillas icónicas como las Stan
            Smith, ahora libres de componentes animales. La marca ha desarrollado nuevos tejidos innovadores como
            Primeblue y Primegreen, los cuales tienen como objetivo reducir el uso de poliéster virgen y aprovechar
            materiales reciclados para su fabricación. De esta manera, futplus sports busca disminuir su impacto
            ambiental y contribuir a reducir la crisis global del plástico. La etiqueta Primeblue y Primegreen
            identifica estas prendas sostenibles, que representan un cambio positivo hacia una industria de la moda más
            consciente y responsable con el planeta.
        </p>
        <h2>ESTILO Y COMODIDAD: RECONOCE LA MARCA SOSTENIBLE</h2>
        <p class="paragraph">
            La marca sostenible de FutPlus no solo destaca por su compromiso con el medio ambiente, sino también por su
            larga trayectoria en el diseño de prendas cómodas y estilizadas para hacer deporte o para lucir en cualquier
            ocasión. La combinación de estos dos elementos se hace presente en su catálogo de ropa ecológica, donde la
            calidad, el estilo y la com
            modidad son atributos esenciales.
        </p>

    </div>
</div>
<app-footer></app-footer>