<div class="container">
    <br>
    <h1>Panel de Gestion de Configuracion</h1>
    <hr>
    <br>
    <div class="row text-center">
        <div class="col-md-4">
            <a  class="btn btn-dark">
                Panel de Nombre
            </a>
        </div>
        <div class="col-md-4">
            <a  class="btn btn-dark">

            </a>
        </div>
        <div class="col-md-4">
            <a [routerLink]="'/admin'" class="btn btn-dark">

            </a>
        </div>
    </div>

</div>