<mat-card>
  <form (ngSubmit)="formSubmit()">
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input required autofocus type="text" name="nombre producto" matInput placeholder="Digite su nombre producto"
        [(ngModel)]="compra.producto">
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Proveedor</mat-label>
      <mat-select required name="proveedor" [(ngModel)]="compra.proveedor.proveedorId">
        <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.proveedorId">{{ proveedor.nombre
          }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" required name="cantidad" [(ngModel)]="compra.cantidad"
        (ngModelChange)="calcularTotalCompra()" />
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Precio Unidad</mat-label>
      <input matInput type="number" required name="precioUnidad" [(ngModel)]="compra.precioUnidad"
        (ngModelChange)="calcularTotalCompra()" />
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Descuento</mat-label>
      <input matInput required name="descuento" [(ngModel)]="compra.descuento"
        (ngModelChange)="calcularTotalCompra()" />
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Día de Entrega</mat-label>
      <input matInput required name="diaEntrega" [(ngModel)]="compra.diaEntrega" />
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Método de Pago</mat-label>
      <mat-select required name="metodoPago" [(ngModel)]="compra.metodoPago">
        <mat-option *ngFor="let metodo of metodoPago" [value]="metodo">{{ metodo }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Total de Compra</mat-label>
      <input matInput required name="totalCompra" [(ngModel)]="compra.totalCompra" readonly
        placeholder="Total de la Compra:" />
    </mat-form-field>
    <div class="container text-center">
      <button class="btn btn-primary" type="submit">Enviar Compra</button>
    </div>
  </form>
</mat-card>