<app-navbar></app-navbar>
<img src="/assets/inicio/portada.png" alt="" class="img-fluid">
<br><br>
<div class="container">
    <h2>Camisetas de Seleccion</h2>
    <hr>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img src="assets/seleccion/europa/alemania.jpg" alt="Imagen 1" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Alemania</p>
                    </div>
                    <div class="col">
                        <img src="assets/seleccion/sudamerica/argentina.jpg" alt="Imagen 2" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Argentina</p>
                    </div>
                    <div class="col">
                        <img src="assets/seleccion/norteamerica/mexico.jpg" alt="Imagen 3" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Mexico</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img src="assets/seleccion/europa/españa.jpg" alt="Imagen 4" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion España</p>
                    </div>
                    <div class="col">
                        <img src="assets/seleccion/europa/belgica.jpg" alt="Imagen 5" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Belgica</p>
                    </div>
                    <div class="col">
                        <img src="assets/seleccion/europa/francia.jpg" alt="Imagen 6" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Francia</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h2>Camiseta Femeninas</h2>
    <hr>
    <div class="row">
        <div class="col">
            <img src="assets/femenino/mujeres.jpg" alt="Imagen 1" class="femenino">
      
        </div>
        
        <div class="col">
            <img src="assets/femenino/femenino.webp" alt="Imagen 3" class="femenino ">
          
        </div>
    </div>
<br>
    <h2>Sudaderas Fútbol</h2>
    <hr>
    <h2>Short Fútbol</h2>
    <hr>
</div>
<br><br>

<img src="/assets/inicio/portarda1.png" alt="" class="img-fluid">
<div class="container">
    <br>
    <h2>Camiseta Clubes</h2>
    <hr>
    <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img src="assets/clubes/europa/liverpool.jpg" alt="Imagen 1" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Liverpool</p>
                    </div>
                    <div class="col">
                        <img src="assets/clubes/europa/milan.jpg" alt="Imagen 2" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Ac Milan</p>
                    </div>
                    <div class="col">
                        <img src="assets/clubes/europa/manchester-city.jpg" alt="Imagen 3" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Manchester City</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img src="assets/clubes/europa/psg.jpg" alt="Imagen 4" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Psg</p>
                    </div>
                    <div class="col">
                        <img src="assets/clubes/europa/tottenham.jpg" alt="Imagen 5" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Tottenham</p>
                    </div>
                    <div class="col">
                        <img src="assets/clubes/europa/real-madrid.jpg" alt="Imagen 6" class="img-fluid">
                        <br>
                        <p class="text-center"> Equipacion Real M,adrid</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h2>Camiseta Retro Mundiales</h2>
    <hr>
    <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img src="assets/mundial/mundial2022.webp" alt="Imagen 1" class="femenino">
                        <br>
                        <p class="text-center"> Equipacion Mundial 2022</p>
                    </div>
                    <div class="col">
                        <img src="assets/mundial/mundial2018.jpg" alt="Imagen 2" class="femenino">
                        <br>
                        <p class="text-center"> Equipacion Mundial 2018</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img src="assets/mundial/mundial 2014.jpg" alt="Imagen 4" class="femenino">
                        <br>
                        <p class="text-center"> Equipacion Mundial 2014</p>
                    </div>
                    <div class="col">
                        <img src="assets/mundial/mundial 2010.jpg" alt="Imagen 5" class="femenino">
                        <br>
                        <p class="text-center">Equipacion Mundial 2010</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <h2>Promociones</h2>
    <hr>
    <h2>Marcas</h2>
    <hr>
    <h2>Botas de Fútbol</h2>
    <hr>
    <div class="row">
        <div class="col">
            <img src="assets/botas/botas-adidas.jpg" alt="Imagen 1" class="img-fluid">
            <br>
            <p class="text-center"> Botas Adidas</p>
        </div>
        <div class="col">
            <img src="assets/botas/botas-nike.jpg" alt="Imagen 2" class="img-fluid">
            <br>
            <p class="text-center"> Botas Nike</p>
        </div>
        <div class="col">
            <img src="assets/botas/botas-pumas.jpg" alt="Imagen 3" class="img-fluid">
            <br>
            <p class="text-center"> Botas Pumas</p>
        </div>
    </div>

</div>
<app-footer></app-footer>