

<app-navbar-admin></app-navbar-admin>


<!---
<div class="bootstrap-wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-12" style="padding-left: 0;">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-9 col-sm-12" style="padding-right: 0;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>-->
<!--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true" class="sidenav dark">
    <mat-nav-list>
      <button mat-list-item routerLink="/admin">
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink="/admin/perfil">
        <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
      </button>
      <button mat-list-item routerLink="/admin/producto">
        <mat-icon mat-list-icon>inventory_2</mat-icon> Productos
      </button>
      <button mat-list-item routerLink="/admin/categoria">
        <mat-icon mat-list-icon>category</mat-icon> Categoría
      </button>
      <button mat-list-item>
        <mat-icon mat-list-icon>branding_watermark</mat-icon> Botón sin enlace
      </button>
      <button mat-list-item routerLink="/admin/promocion">
        <mat-icon mat-list-icon>local_offer</mat-icon> Promociones
      </button>
      <button mat-list-item routerLink="/admin/usuario">
        <mat-icon mat-list-icon>person</mat-icon> Usuarios
      </button>
      <button mat-list-item routerLink="/admin/proveedor">
        <mat-icon mat-list-icon>business</mat-icon> Proveedores
      </button>
      <button mat-list-item routerLink="/admin/ventas">
        <mat-icon mat-list-icon>monetization_on</mat-icon> Ventas
      </button>
      <button mat-list-item routerLink="/admin/compras">
        <mat-icon mat-list-icon>shopping_cart</mat-icon> Compras
      </button>
      <button mat-list-item routerLink="/admin/ventas">
        <mat-icon mat-list-icon>supervised_user_circle</mat-icon> Empleado
      </button>
      <button mat-list-item routerLink="/admin/reclamos">
        <mat-icon mat-list-icon>report</mat-icon> Reclamos
      </button>
      <button mat-list-item routerLink="/admin/configuracion">
        <mat-icon mat-list-icon>settings</mat-icon> Configuración
      </button>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content opened="true">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


-->

<app-footer-admin></app-footer-admin>