<app-navbar></app-navbar>
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/promocion/camiseta-4.jpg" alt="" class="promocion img-fluid">
      </div>
      <div class="carousel-item">
        <img src="/assets/promocion/camiseta-3.jpg" alt="" class="promocion img-fluid">
      </div>
      <div class="carousel-item">
        <img src="/assets/promocion/camiseta-5.jpg" alt="" class="promocion img-fluid">
      </div>
      <div class="carousel-item">
        <img src="/assets/promocion/camiseta-2.jpg" alt="" class="promocion img-fluid">
      </div>
      <div class="carousel-item">
        <img src="/assets/promocion/camiseta-1.jpg" alt="" class="promocion img-fluid">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
<app-footer></app-footer>

