<div class="row position-sticky sticky-top nav_busqueda sombra cab" [ngClass]="{'asiento':exist_finalizar}">


    <div class="col-md-4 col-7">
      <h3 class="titulo">
        {{title}}
      </h3>
    </div>
   
    <div id="ocultar" [ngStyle]="{'justify-content': justify_end ? 'end':'space-between'}"
      class="col-md-8 col-sm-6 buttons_revert">
  
      <mat-form-field *ngIf="exist_search" appearance="standard" class="search">
        <div class="barra-busqueda">
          <mat-icon style="margin-top: 1.2%">search</mat-icon>
          <input matInput (input)="filtrar($event)" placeholder="Buscar" #input maxlength="100" id="buscador"
            autocomplete="off" />
        </div>
      </mat-form-field>
      <mat-checkbox *ngIf="check" class="example-margin" name="emision_cheque" (change)="cheque($event)"> EMISIÓN
        DE CHEQUE </mat-checkbox>
      <div class="buttons col-md-3 col-sm-6">
        <button *ngIf="exist_visor" type="button" (click)="abrirVisor()"
          style="background-color: transparent !important; border: none !important; margin-right: 10px;"><img
            src="../../../../assets/img/impresora-icono.png" width="45" height="45"></button>
  
        <button *ngIf="exist_excel" (click)="exportarAExcel()" class="button_excel">
          <img style="float: right;width:40px;height: 40px;" src="../assets/excel.png" />
        </button>
        <button *ngIf="exist_sunat" style="width: 80px;border: none; background: transparent; margin-right: 9px;" (click)="abrirSunat()" a
                href="https://e-consulta.sunat.gob.pe/cl-at-ittipcam/tcS01Alias" id="boton-add">
                <img style="width: 80px; height: 80px;" src="../assets/img/sunat.png" />
              </button>
        <button *ngIf="exist_add" mat-fab (click)="openModalAdd()" class="button_add">
          <mat-icon style="margin: 0 auto; line-height: revert">add</mat-icon>
        </button>
        
        <button *ngIf="redirectCompras" mat-fab [routerLink]="redirecUrl" class="button_add">
          <mat-icon style="margin: 0 auto; line-height: revert">add</mat-icon>
        </button>
  
        <button *ngIf="consulta_document" mat-raised-button type="button" color="primary" class="boton-comprobante"
        (click)="abrirModalConsultaDocumento()">Validar Documento
       </button>
        <button *ngIf="consulta_grilla" mat-raised-button type="button" color="primary" class="boton-consulta"
         (click)="abrirModalConsultaAsiento()">Consultar Asientos
        </button>
        <button *ngIf="exist_finalizar" mat-raised-button color="primary" class="boton-salir" type="button"
          (click)="finalizar()" tabindex="51">
          Finalizar
        </button>
        <button *ngIf="exist_file" (click)="generarArchivo()" type="button" class="generar" mat-raised-button
          color="primary" tabindex="5">Generar Archivo
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M17,21L14.25,18L15.41,16.84L17,18.43L20.59,14.84L21.75,16.25M12.8,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19A2,2 0 0,1 21,5V12.8C20.12,12.29 19.09,12 18,12L17,12.08V11H7V13H14.69C13.07,14.07 12,15.91 12,18C12,19.09 12.29,20.12 12.8,21M12,15H7V17H12M17,7H7V9H17" />
          </svg>
        </button>
  
        <button *ngIf="exist_detraccion" (click)="Detraccion()" mat-mini-fab color="primary">
          <mat-icon>menu</mat-icon>
        </button>
  
        <button *ngIf="exist_txt" type="button" (click)="GenerarTxt()" class="txt"
          style="background: transparent;border: none;"><!--(click)="generarArchivo()"-->
          <img src="..\assets\txt.jpg" style="width:40px; height:40px;">
        </button>
  
        <button *ngIf="exist_success" (click)="Success()" class=" btn btn-success"
          style="margin-right: 10px;width: 45px; align-items: flex-end;">
          <i class="fas fa-save"></i>
        </button>
  
        <button [routerLink]="returnRedirecUrl" class="btn btn-danger button_close">
          <i class="fas fa-long-arrow-alt-left"></i>
        </button>
      </div>
  
    </div>
  
  
    <div class="buttons col-5 mostrar">
      <mat-checkbox *ngIf="check" class="example-margin" name="emision_cheque" (change)="cheque($event)"> EMISIÓN
        DE CHEQUE </mat-checkbox>
      <button *ngIf="exist_visor" type="button" (click)="abrirVisor()"
        style="background-color: transparent !important; border: none !important; margin-right: 10px;"><img
          src="../../../../assets/img/impresora-icono.png" width="45" height="45"></button>
  
      <button *ngIf="exist_excel" (click)="exportarAExcel()" style="width: 50px; height: 40px;border: none;
        background: transparent;">
        <img style="float: right;width:40px;height: 40px;" src="../assets/excel.png" />
      </button>
      <button *ngIf="exist_sunat" style="width: 80px;border: none; background: transparent; margin-right: 9px;" (click)="abrirSunat()" a
                href="https://e-consulta.sunat.gob.pe/cl-at-ittipcam/tcS01Alias" id="boton-add">
                <img style="width: 80px; height: 80px;" src="../assets/img/sunat.png" />
              </button>
      <button *ngIf="exist_add" mat-fab (click)="openModalAdd()" class="button_add">
        <mat-icon style="margin: 0 auto; line-height: revert">add</mat-icon>
      </button>
      <button *ngIf="consulta_document" mat-raised-button type="button" color="primary" class="boton-consulta"
        (click)="abrirModalConsultaDocumento()">Validar Documento
       </button>
      <button *ngIf="consulta_grilla" mat-raised-button type="button" color="primary" class="boton-consulta"
      (click)="abrirModalConsultaAsiento()">Consultar Asientos
     </button>
      <button *ngIf="exist_finalizar" mat-raised-button color="primary" class="boton-salir" type="button"
        (click)="finalizar()" tabindex="51">
        Finalizar
      </button>
      <button *ngIf="exist_file" (click)="generarArchivo()" type="button" class="generar" mat-raised-button
        color="primary" tabindex="5">Generar Archivo
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M17,21L14.25,18L15.41,16.84L17,18.43L20.59,14.84L21.75,16.25M12.8,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19A2,2 0 0,1 21,5V12.8C20.12,12.29 19.09,12 18,12L17,12.08V11H7V13H14.69C13.07,14.07 12,15.91 12,18C12,19.09 12.29,20.12 12.8,21M12,15H7V17H12M17,7H7V9H17" />
        </svg>
      </button>
  
      <button *ngIf="exist_detraccion" (click)="Detraccion()" mat-mini-fab color="primary">
        <mat-icon>menu</mat-icon>
      </button>
  
      <button *ngIf="exist_txt" type="button" (click)="GenerarTxt()" class="txt"
        style="background: transparent;border: none;"><!--(click)="generarArchivo()"-->
        <img src="..\assets\txt.jpg" style="width:40px; height:40px;">
      </button>
      <button *ngIf="exist_success" (click)="Success()" class=" btn btn-success"
        style="margin-right: 10px;width: 45px; align-items: flex-end;">
        <i class="fas fa-save"></i>
      </button>
      <button routerLink="/" class="btn btn-danger button_close">
        <i class="fas fa-long-arrow-alt-left"></i>
      </button>
    </div>
  
  
    <div class="row col-12 mostrar" *ngIf="exist_search">
      <mat-form-field appearance="standard" class="search">
        <div class="barra-busqueda">
          <mat-icon style="margin-top: 1.2%">search</mat-icon>
          <input matInput (input)="filtrar($event)" placeholder="Buscar" #input maxlength="100" id="buscador"
            autocomplete="off" />
        </div>
      </mat-form-field>
    </div>
  
  </div>
  