<app-navbar></app-navbar>

<body>

  <div class="container">
    <div class="login">
      <div class="header">
        <h1>INICIAR SESION</h1>
      </div>
      <div class="main">
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input [(ngModel)]="loginData.username" name="username" required matInput
              placeholder="Digite su nombre de usuario">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input [(ngModel)]="loginData.password" name="password" required type="password" matInput
              placeholder="Digite su contraseña">
          </mat-form-field>

          <button type="submit" (click)="formSubmit()">Iniciar sesión</button>
          <p><a href="#">¿Olvidaste tu contraseña?</a></p>
          <button type="submit" (click)="registrar()">Registrarse</button>
          <br>
        </form>
      </div>
    </div>
    <div class="img">
      <span>
        <h1>BIENVENIDOS</h1>
        <p>RETRO FUTBOL</p>
      </span>
    </div>
  </div>
</body>